<div>
  <label for="edadUno">Edad Uno:</label>
  <input [(ngModel)]="edadUno" id="edadUno" type="number">

  <label for="edadDos">Edad Dos:</label>
  <input [(ngModel)]="edadDos" id="edadDos" type="number">

  <button (click)="calcular()">Calcular</button>
  <button (click)="limpiar()">Limpiar Cuadros de Texto</button>

  <div>
    <label for="suma">Suma:</label>
    <input [value]="suma" id="suma" type="number" readonly>

    <label for="promedio">Promedio:</label>
    <input [value]="promedio" id="promedio" type="number" readonly>
  </div>
</div>
